trying_bullShit_things.ipynb
mlp_appoach_design.ipynb
generate_file_structure.py
structure.txt
self_practice/
tiny_shakespeare.txt
saved_models/
astra_saved_models/
shakespeare_bpe.model
shakespeare_bpe.vocab
best_checkpoints/
scribe_saved_models/
gru_saved_models/